{% extends 'base.html.twig' %}

{% block title %}Hello PdfController!{% endblock %}

{% block body %}

<html>
<head>
    <meta charset="UTF-8">
    <title>PDF Template</title>
</head>

<body>
    <h1>Inform de la Gestion</h1>
    <p>{{ some_data }}</p>
</body>

</html>

{% endblock %}